options {
	listen-on port 53 { 127.0.0.1; 0.0.0.0; };
	listen-on-v6 port 53 { ::1; };
	directory 	"{{ named_directory }}";
	dump-file 	"{{ named_dump_file }}";
	statistics-file "{{ named_statistics_file }}";
	memstatistics-file "{{ named_memstatistics_file }}";
	// recursion off no file-> recursing-file  "/var/named/data/named.recursing";
	secroots-file   "{{ named_secroots_file }}";
	allow-query     { any; };

	//  AUTHORITATIVE DNS server
	recursion no;

	dnssec-enable no; // for now
	//dnssec-validation yes;

	/* Path to ISC DLV key */
	bindkeys-file "/etc/named.iscdlv.key";

	managed-keys-directory "/var/named/dynamic";

	pid-file "/run/named/named.pid";
	session-keyfile "/run/named/session.key";
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};

include "{{ named_global_zone }}";
